* {
    margin: 0;
}

body {
    background-image: url(../imagenes/anonimous2.png);
    font-family: 'Segoe UI';
    color: #f7f7f7;
    background-size: 100% 100%;
    background-attachment: fixed;
}

fieldset {
    border-radius: 1.5em;
    background: #ffffff;
    color: #050000;
    opacity: 0.8;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.header2 {
    position: fixed;
    height: 80px;
}

.header2 .logo {
    line-height: 100px;
    font-size: 40px;
}

.header2 nav {
    line-height: 100px;
}

.content {
    padding-top: 100px;
}

.content p {
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    color: #050000;
    opacity: 0.8;
    background: #c44444
}

footer {
    width: 100%;
}

.footer-container {
    width: 100%;
    background: #0a0a0a;
    color: #fff;
    font-size: 15px;
}